*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "open sans", sans-serif;
    scroll-behavior: smooth;
}

/* Scroll to top  */ 
.btn {
    background-color: #ff6607;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    position: fixed;
    bottom: 5%;
    right: 4%;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
}

/* Header  */
.header__bg {
    background-color: #777;
    padding: 8px 0;
}

.header__bg i,
.header__bg a {
    color: #fff;
}

.header__bg .form-group {
    position: relative;
    margin: 0;
}

.header__bg .header__search {
    display: none;
}

.header__bg .form-group input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.header__bg .form-group input::placeholder {
    color: #fff5;
}

.header__bg .form-group i {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: #fff;
}

/* Navbar  */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar__bg {
    background: #000;
}

.navbar__bg .navbar__right ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.navbar__bg .navbar__right ul li {
    list-style: none;
    padding-left: 20px;
}

.navbar__bg .navbar__right ul li:hover a {
    color: #ff6607;
}

.navbar__bg .navbar__right ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;

}

.navbar__bg .navbar__icon--left {
    display: none;
}

.navbar__bg .navbar__icon--right {
    display: none;
}

/* Banner  */
.banner {
    background-image: url(../imgs/—Pngtree—thickened\ big\ burger\ promotion\ simple_993790.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    transform: rotateY(180deg)
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0005;
    transform: rotateY(180deg)

}

.banner .banner__content {
    color: #fff;
    padding-top: 100px;
    padding-left: 0;
}

.banner .banner__content h2 {
    font-size: 40px;
    font-weight: 300;
}

.banner .banner__content button {
    padding: 5px 25px;
    border-radius: 15px;
}

.banner__button--oder {
    background-color: #ff6607;
    color: #fff;
    border-color: transparent;
}

.banner__button--book {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

/* Product  */

.product {
    margin: 60px;
}

.product .product__content {
    text-align: center;
}

.product .product__content h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.product .product__content h3 {
    font-size: 40px;
    color:#ff6607
}

.product .product__img {
    margin-top: 30px;
}

.product .product__img .row {
    flex-wrap: nowrap;
}

.product .product__img .product__item {
    border-radius: 10px;
    transition: all .5s;
}

.product .product__img .product__item:hover {
  box-shadow: 0 20px 62px rgb(4 20 69 / 20%);
}

.product .product__img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product .product__img h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.product .product__img p {
    margin-left: 10px;
}

.product .product__img button {
    width: 100%;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product .product__img .product__rate input{
    display: none;
    transition: all .2s;
    cursor: pointer;
}

.product .product__img .product__rate label {
    font-size: 20px;
    color: #7774;
    cursor: pointer;
    transition: all .2s;
}

.product .product__img .product__rate input:not(:checked) ~ label:hover,
.product .product__img .product__rate input:not(:checked) ~ label:hover ~ label {
    color: #ff6607;
    cursor: pointer;
}

.product .product__img .product__rate input:checked ~ label {
    color: #ff6607;
    cursor: pointer;
}

.product .product__rate {
    margin: auto 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
    .navbar__bg .navbar__right ul li a {
        font-size: 20px;
    }

    .product .product__img .product__card:last-child  {
        display: none;
    }
}

/* Medium  */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__bg .form-group {
        display: none;
    }
    .header__bg .header__search {
        display: inline-block;
    }
    .navbar__bg .navbar__right ul li a {
        font-size: 20px;
    }

    /* banner  */
    .banner {
        height: 300px;
    }

    .banner__content {
        display: none;
    }

    .product .product__img .product__card:last-child  {
        display: none;
    }

    .product .product__img .product__card h3 {
        font-size: 18px;
    }
    .product .product__img .product__card  p {
        font-size: 15px;
    }
}

/* Small  */

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navbar__bg .navbar__icon--left {
        display: block;
        color: #fff;
        font-size: 20px;
    }
    
    .navbar__bg .navbar__icon--right {
        display: block;
        color: #fff;
        font-size: 20px;
    }
    .navbar__logo {
        flex: 0 0 50%;
        text-align: center;
    }

    /* banner  */
    .banner {
        height: 300px;
    }
    
    .banner__content {
        display: none;
    }

    .product .product__img .product__card:nth-child(3) {
        display: none;
    } 

    .product .product__img .product__card:last-child  {
        display: none;
    }
}

/* Extra Small  */

@media screen and (max-width: 575px) {
    .product .product__img .product__card h3 {
        font-size: 15px;
        margin-top: 14px;
    }

    .product .product__img .product__card p {
        font-size: 14px;
        margin-bottom: 14px;
    }

    .product .product__img .product__rate label {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .header__bg {
        display: none;
    }
    .navbar__bg .navbar__right {
        display: none;
    }
    .navbar__bg .navbar__icon--left {
        display: block;
        color: #fff;
        font-size: 20px;
        flex: 0 0 25%;
    }
    
    .navbar__bg .navbar__icon--right {
        display: block;
        color: #fff;
        font-size: 20px;
        flex: 0 0 25%;
    }
    .navbar__logo {
        flex: 0 0 50%;
        text-align: center;
    }

    /* banner  */
    .banner {
        height: 300px;
    }

    .banner__content {
        display: none;
    }

    .product .product__img .row {
        flex-wrap: wrap;
    }

    .product .product__img .product__card:first-child {
        margin-bottom: 20px;
    }

    .product .product__img .product__card:nth-child(3) {
        display: none;
    } 

    .product .product__img .product__card:last-child  {
        display: none;
    }
}
